.about {
  color: rgb(209, 202, 202);
  background-color: rgb(19, 17, 17);
  padding-left: 40px;

  max-width: 1480px;
  /* max-width: 1520px; */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.about__info {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  color: rgb(158, 185, 160);
  font-size: 18px;
  position: relative;
  height: 90%;

  width: 90%;
}
.about__header {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;
  font-family: monospace;
  color: white;
}

.about__bio p {
}

.titleLine {
  width: 150px;
  border-top: 1px solid white;
  transform: translateY(-5px);
}

.about__section {
  display: flex;
  /* flex-direction: column; */
  color: rgb(209, 202, 202);
  /* justify-content: space-between; */
}

.about__photo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  background-color: yellow;
}

.about__photo img {
  display: flex;

  background-color: rgb(205, 228, 215);
  display: flex;
  position: relative;
  /* height: 100%; */
  /* max-height: 450px; */

  object-fit: contain;
  /* border: 5px solid green;

  box-shadow: 10px 10px 10px rgb(214, 209, 209); */
  border-radius: 10px;
}
.about__photo img:hover {
  /* border: 5px solid white;

  box-shadow: 20px 20px 10px green; */
}

.about__tech {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  color: rgb(158, 185, 160);
  font-size: 18px;
}
.about__tech p {
  margin-bottom: 20px;
  color: rgb(209, 202, 202);
}

.technologies {
  display: flex;
}

.tech ul {
  padding-right: 195px;
  list-style-type: square;
}

.tech ul li:hover {
  color: green;
}

.github {
  display: flex;
  flex: 1;
  /* justify-content: center; */
}
