.about {
  color: rgb(209, 202, 202);
}

.about__info {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  color: rgb(158, 185, 160);
  font-size: 18px;
  position: relative;
  height: 90%;

  width: 90%;
}
.about__header {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;
  font-family: monospace;
  color: white;
}

.about__bio p {
}

.titleLine {
  width: 150px;
  border-top: 1px solid white;
  transform: translateY(-5px);
}

.about__section {
  display: flex;
  color: rgb(209, 202, 202);
  justify-content: space-between;
}

.about__photo {
  display: flex;
  place-content: center;
  width: 100%;
}

.about__photo img {
  display: flex;
  position: relative;
  height: 90%;
  max-height: 300px;
  /* width: 100%; */
  object-fit: contain;
  border: 5px solid green;

  box-shadow: 10px 10px 10px rgb(214, 209, 209);
  border-radius: 10px;
}
.about__photo img:hover {
  border: 5px solid white;

  box-shadow: 20px 20px 10px green;
}

.about__tech {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  color: rgb(158, 185, 160);
  font-size: 18px;
}
.about__tech p {
  margin-bottom: 20px;
}

.technologies {
  display: flex;
}

.tech ul {
  padding-right: 195px;
  list-style-type: square;
}

.tech ul li:hover {
  color: green;
}

.github {
  display: flex;
  flex: 1;
  /* justify-content: center; */
}
