.about {
  color: white;
}

.about__info {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  position: relative;
  height: 90%;

  width: 90%;
}
.about__header {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;
}

.about__bio p {
}

.titleLine {
  width: 150px;
  border-top: 1px solid white;
  transform: translateY(-5px);
}

.about__section {
  display: flex;

  justify-content: space-between;
}

.about__tech {
  margin-top: 20px;
}
.about__tech p {
  margin-bottom: 20px;
}

.about__photo {
  display: flex;
  place-content: center;
  width: 100%;
}

.about__photo img {
  position: relative;
  height: 90%;
  max-height: 300px;
  width: 90%;
  object-fit: contain;
  border: 2px solid green;
}
