.contact {
  display: flex;
  flex-direction: column;
}

.titleLine {
  width: 150px;
  border-top: 1px solid white;
  transform: translateY(-5px);
}

.contact__header {
  color: white;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 100px;
  margin-bottom: 30px;
  font-family: monospace;
}

.contact__hero {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.contact__hero p {
  font-family: monospace;
  color: rgb(158, 185, 160);
  font-size: 16px;
}

.contact__body {
  display: flex;
}

.contact__image {
  height: 100%;
  width: 100%;
  position: relative;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* background-color: rgb(52, 52, 75); */
  background-color: rgb(19, 17, 17);
}

.contact__form {
  background-color: rgb(19, 17, 17);
  width: 100%;
  padding: 10px;
  margin-right: 100px;
}

.contact__form p {
  padding-bottom: 7px;
  margin-left: 5px;
  color: white;
}
.contact__form input {
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  border: none;
  cursor: pointer;
  width: 98%;
}
.contact__form textarea {
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  border: none;
  cursor: pointer;
  width: 98%;
}

.contact__button {
  height: 40px;
  cursor: pointer;
  margin-left: 5px;
  width: 98%;
  margin-bottom: 5px;
  /* padding: 10px; */
  color: green;
  background-color: rgb(19, 17, 17);
  border: 1px solid white;
  font-size: 16px;
  border-radius: 5px;
}
.contact__button:hover {
  color: white;
  border: 1px solid green;
}

.form {
  display: flex;
  flex-direction: column;
}

.contact__subject {
  height: 25px;
}
.contact__message {
  height: 70px;
}

@media screen and (min-width: 375px) and (max-width: 812px) {
  .contact__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact__image {
    /* margin: 0;
    width: 95%;
    padding-bottom: 15px; */
    width: 0;
  }

  .contact__form {
    margin: 0;
    /* width: 95%; */
    width: 100%;
  }
}

@media screen and (min-width: 813px) and (max-width: 1302px) {
  .contact__body {
    display: flex;
  }

  .contact__image {
    width: 0;
  }

  .contact__form {
    margin: 0;

    padding-left: 5px;
  }
}
