.experience {
}

.experience__header {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;
  font-family: monospace;
  color: white;
  margin-top: 40px;
}

.panel {
  color: white;
  padding: 10px;
}

.title {
  background-color: rgb(52, 52, 75);
  color: white;
  padding: 10px;
  border: 1px solid green;
  margin: 2px;
  border-radius: 5px;
}
