.experience {
  background-color: rgb(19, 17, 17);
  padding-left: 40px;
  padding-right: 40px;
}

.experience__header {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;
  font-family: monospace;
  color: white;
  padding-top: 40px;
}

.work {
  display: flex;
}

.panel {
  color: white;
  padding: 10px;
}

.title {
  background-color: rgb(52, 52, 75);
  font-family: monospace;
  color: rgb(212, 238, 214);
  font-size: 20px;
  padding: 10px;
  border: 1px solid green;
  margin: 1px;
  border-radius: 5px;
  cursor: pointer;
}

.date {
  padding: 5px 5px 5px 0;
  font-family: monospace;
  color: rgb(227, 243, 229);
  font-size: 16px;
}

.experience__item {
  font-family: monospace;
  color: rgb(212, 238, 214);
  font-size: 16px;
  /* background-color: rgb(13, 17, 23); */
}

.company {
  font-family: monospace;
  color: rgb(212, 238, 214);
  font-size: 18px;
  font-weight: 300;
}
