.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90;
}

.header__scroll {
  background-image: linear-gradient(rgb(19, 17, 17), rgb(52, 52, 75));
  opacity: 0.92;
}

.header__right {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: baseline;
  padding: 10px 40px 10px 10px;
  font-size: 26px;
  color: rgb(19, 17, 17);
}

.header__right p {
  padding-right: 10px;
  color: rgb(201, 210, 248);
  cursor: pointer;
  text-transform: uppercase;
}

.header__right p:hover {
  color: royalblue;
}

@media screen and (max-width: 730px) {
  .header__right p {
    font-size: 18px;
  }
}
