.home {
  display: flex;
  flex: 1;
  place-content: center;
  color: rgb(36, 46, 65);
  font-family: serif;

  /* padding-left: 40px;
  padding-right: 40px; */
  /* margin-left: auto;
  margin-right: auto; */
  z-index: 50;
  background-image: linear-gradient(rgb(22, 21, 21, 0.6), rgba(8, 8, 8, 0.5));
}

.home__hero {
  color: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  font-size: 50px;
  padding-top: 70px;
}
.greeting {
  /* font-size: 36px; */
  padding-bottom: 50px;
}

.name {
  font-size: 60px;
  font-weight: 500;
}

.home__description {
  display: flex;
  align-items: center;
  padding-top: 50px;
  font-size: 30px;
}

.home__social {
  padding-top: 40px;
}

.home .MuiSvgIcon-root {
  padding-right: 20px;
  /* color: rgb(158, 185, 160); */
  color: rgb(255, 255, 255);
  font-size: x-large !important;
  transform: scale(1.1);
}
.home .MuiSvgIcon-root:hover {
  color: rgb(36, 46, 65);
  transform: scale(1.4);
}

.resume {
  text-decoration: none;
  color: whitesmoke;
  border: none;
}

.resume:hover {
  color: royalblue;
}
.home__hero button {
  padding: 8px;
  color: whitesmoke;
  border: 1px solid rgb(252, 253, 253);
  background-image: linear-gradient(rgb(19, 17, 17), rgb(52, 52, 75, 0.8));
  margin-right: 5px;
  font-size: 20px;
  width: 150px;
  margin-top: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.home__hero button:hover {
  color: royalblue;
  border: 1px solid white;
  cursor: pointer;
}

@media screen and (max-width: 730px) {
  .home__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 90vh; */
    font-size: 25px;
    padding-top: 180px;
  }

  .name {
    font-size: 38px;
  }
  .MuiSvgIcon-root {
    padding-right: 20px;
    /* color: rgb(158, 185, 160); */
    color: royalblue;
    font-size: x-large !important;
  }
  .MuiSvgIcon-root:hover {
    color: rgb(36, 46, 65);
  }

  .home__hero button {
    padding: 8px;
    color: whitesmoke;
    background-color: transparent;
    border: 1px solid white;
    font-size: 18px;
    width: 140px;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
  }
}
