.home {
  color: white;
}

.home__hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  font-size: 50px;
  padding-top: 70px;
}

.home__description {
  font-family: cursive;
  color: rgb(158, 185, 160);
  padding-top: 50px;
}

.home__social {
  padding-top: 40px;
}

.MuiSvgIcon-root {
  padding-right: 20px;
  /* color: rgb(158, 185, 160); */
  color: white;
  font-size: x-large !important;
}
.MuiSvgIcon-root:hover {
  color: green;
}

.home__hero button {
  padding: 8px;
  color: green;
  background-image: linear-gradient(rgb(19, 17, 17), rgb(52, 52, 75, 0.8));
  border: 1px solid white;
  font-size: 20px;
  width: 150px;
  margin-top: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.home__hero button:hover {
  color: white;
  border: 1px solid green;
  cursor: pointer;
}

.greeting {
  /* font-family: monospace; */
  color: rgb(158, 185, 160);
  font-size: 26px;
  font-family: cursive;
  padding-bottom: 50px;
}
.animatedText {
  /* position: absolute;
  top: 50%;
  right: 50%; */
  transform: translate(20%, -50%);
  text-transform: uppercase;

  font-family: cursive;
  font-size: 60px;
  font-weight: 500;

  color: white;
  text-shadow: 1px 1px 1px green, 1px 2px 1px green, 1px 3px 1px green,
    1px 4px 1px green, 1px 5px 1px green, 1px 6px 1px green, 1px 7px 1px green,
    1px 8px 1px green, 1px 9px 1px green, 1px 10px 1px green,
    1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2),
    1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
}

@media screen and (max-width: 730px) {
  .home__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    font-size: 25px;
    padding-top: 70px;
  }

  .MuiSvgIcon-root {
    padding-right: 20px;
    /* color: rgb(158, 185, 160); */
    color: white;
    font-size: x-large !important;
  }
  .MuiSvgIcon-root:hover {
    color: green;
  }

  .home__hero button {
    padding: 8px;
    color: green;
    background-color: transparent;
    border: 1px solid white;
    font-size: 18px;
    width: 140px;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
  }
}
