.main {
  display: flex;
  height: 100vh;
  max-width: 1520px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(19, 17, 17);
}

.main__center {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 40px;
  padding-right: 150px;
  /* overflow: scroll; */
  padding-bottom: 100px;
}
