.main {
  display: flex;
  background-image: linear-gradient(
    to right,
    rgb(207, 207, 241),
    rgb(231, 228, 228)
  );
  height: 100vh;
}

.main__center {
  display: flex;
  flex-direction: column;

  flex: 1;
  padding-left: 40px;
  padding-right: 150px;
  /* overflow: scroll; */
  padding-bottom: 100px;
}

@media screen and (max-width: 730px) {
  .main__center {
    padding-right: 30px;
    padding-left: 30px;
  }
}
