.projectO {
  display: flex;
  padding: 20px;
  background-image: linear-gradient(to right, rgb(36, 36, 44), rgb(19, 17, 17));
  border-radius: 15px;
}
.projectO .MuiSvgIcon-root {
  padding: 10px;
  color: royalblue;
  transform: scale(1.2);
}
.projectO .MuiSvgIcon-root:hover {
  color: whitesmoke;
}

.info__O {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  flex: 0.5;
  padding-right: 20px;
}

.info__O:hover {
  color: royalblue;
}

.info__titleO {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 300px) and (max-width: 900px) {
  .image {
    display: flex;
    flex: 0;
  }

  .info {
    display: flex;
    flex: 1;
    align-items: flex-start;
  }
  .info__O {
    display: flex;
    flex: 1;
    align-items: flex-start;
  }

  .info__title {
    display: flex;
    align-items: flex-start;
  }

  .project__image {
    width: 0;
  }
}
