.projects {
  color: white;
}

.titleLine {
  width: 150px;
  border-top: 1px solid white;
  transform: translateY(-5px);
}

.projects__header {
  display: flex;
  align-items: baseline;
  margin-top: 100px;
  margin-bottom: 30px;
}
