.project {
  display: flex;
}

.image {
  display: flex;
  flex: 0.56;
  min-height: fit-content;
  min-width: 450px;
}

.image img {
  width: 100%;

  object-fit: contain;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 0.44;
}

.info__title p {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 25px;
  font-family: monospace;
  color: rgb(212, 238, 214);
}
.info__title p:hover {
  color: green;
}

.info__description {
  color: rgb(209, 202, 202);
  background-color: rgb(52, 52, 75);
  height: 150px;
  width: 100%;
  /* opacity: 0.8; */
  padding: 20px;
  flex: 1;
  margin-bottom: 25px;
  display: grid;
  place-content: center;
}

.info__description p {
  font-family: monospace;
  color: rgb(158, 185, 160);
  font-size: 16px;
}

.info__tech {
  display: flex;
  margin-bottom: 25px;
  font-size: 20px;
}

.info__tech p {
  margin-left: 8px;
  font-family: monospace;
  color: rgb(158, 185, 160);
}
