.tech {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: flex-start;
  padding-top: 20px;

  gap: 20px;
}

.tech h2 {
  color: whitesmoke;
  font-size: 20px;
  font-weight: 500;
  /* border-bottom: 3px solid #11abb0; */
  padding-bottom: 5px;
  width: fit-content;
}

.tech__logos {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.tech__logos img {
  object-fit: contain;
  height: 60px;
  width: 60px;
}

.tech__skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.tech__skill p {
  color: white;
  font-size: 1.2rem;
  text-transform: capitalize;
}

@media only screen and (max-width: 1440px) {
  .tech h2 {
    font-size: 1.7rem;
    text-align: center;
    font-weight: 400;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .tech__logos img {
    object-fit: contain;
    height: 60px;
    width: 60px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
}

@media (max-width: 414px) {
  .tech__logos {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  .tech__logos img {
    object-fit: contain;
    height: 50px;
    width: 50px;
  }

  .tech__skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .tech__skill p {
    color: white;
    font-size: 1rem;
    text-transform: capitalize;
  }
}
